body{
    margin:0;
    padding: 0;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.btns{
    font-size: 50px;
    
}
.btn{
    font-size: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 46px;
    cursor: pointer;
    
}
.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 45px;
    
}

